In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({'colleges': ['vandy', 'kennesaw', 'texas tech', 'ucf']})

In [5]:
df

     colleges
0       vandy
1    kennesaw
2  texas tech
3         ucf

In [6]:
df['colleges']

0         vandy
1      kennesaw
2    texas tech
3           ucf
Name: colleges, dtype: object