In [1]:
import pandas as pd

In [2]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", 
                "Hernandez High School","Griffin High School","Wilson High School", 
                "Cabrera High School", "Bailey High School", "Holden High School", 
                "Pena High School", "Wright High School","Rodriguez High School", 
                "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [4]:
for school in school_series:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [5]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [6]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [7]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [8]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [9]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [10]:
#Add next list to the dataframe
schools_df["School Name"] = school_name

#print updated dataframe
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [11]:
#add last list to the dataframe
schools_df["School Type"] = type_of_school

#print updated dataframe
schools_df

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 
                     'school_name':school_name, 
                     'type':type_of_school}

In [13]:
high_school_df = pd.DataFrame(high_schools_dict)
high_school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
#get the columns of schools_df 
schools_df.columns

Index(['School ID', 'School Name', 'School Type'], dtype='object')

In [15]:
#get the indices of schools_df
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
#get the values of schools_df
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [28]:
#make lists for each column
School_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
School_name = ["Huang High School", "Figueroa High School", "Shelton High School", 
               "Hernandez High School", "Griffen High School", "Wilson High School", 
              "Caberna High School", "Bailey High School", "Holden High School", 
              "Pena High School", "Wright High School", "Rodriguez High School", 
              "Johnson High School", "Ford High School", "Thomas High School"]
School_type = ["District", "District", "Charter", "District", "Charter", "Charter",
              "Charter", "District", "Charter", "Charter", "Charter", "District",
              "District", "District", "Charter"]

In [29]:
#add each list individually into an empty pd dataframe
#Schools_df = pd.DataFrame()
#Schools_df["School ID"] = School_id
#Schools_df["School Name"] = School_name
#Schools_df["School Type"] = School_type
#Schools_df

In [30]:
#add each list to a dictionary and add the dictionary to the pd dataframe 
#                     {"label": Reference}
High_school_dict = {'School ID': School_id,
                    'School Name': School_name,
                    'School Type': School_type}
Schools_df = pd.DataFrame(High_school_dict)
Schools_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffen High School     Charter
5           5     Wilson High School     Charter
6           6    Caberna High School     Charter
7           7     Bailey High School    District
8           8     Holden High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13       Ford High School    District
14         14     Thomas High School     Charter